@font-face {
    font-family: "Schoolbell";
    src: url("/Schoolbell-Regular.ttf");
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Schoolbell";
}

body{
   
    background-image: url(/Kepek/background.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    padding-inline: 32px;
    padding-block:64px;
}
.img{
  width: 100%;
  height: 550px;
  object-fit: cover;
  image-orientation: right;
}

main{
    font-family: "Schoolbell";
    max-width: 90vw;
    min-height:calc(100vh - 128px);
    text-align: center;
    background-color: #fff;
    border: radius 12px; 
    border: 3px solid black;
    padding-inline:10rem;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav", "oszlop" "table" "footer";
    padding: 32px;
}

.oszlop{
    grid-area: oszlop;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "article_img";
    text-align: left;

}
article{
    display: grid;
    grid-area: article;
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    
}
.nav{
    grid-area: nav;}
    li{
    grid-area: nav;
    display: inline-block;
    list-style: none;
    padding-top: 0;
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding;: 0.5rem;
    border-radius:  12px;
    border: 3px solid black;
    text-decoration: none;
}


.article_h1{
    font-size: 28px;
    font-weight: 400;
}
h2{
    font-size: 56px;
    font-weight: 400;
}
p{
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
}

table{
    grid: table;
    text-align: justify;
    max-width: 1080px;
    grid-column-start: 1;
    grid-column-end: 2;
   
}
table, tbody,thead,tr,th,td{
    border-collapse: collapse;
    border:1px solid black;
    padding: 10px;
    text-align: left;
}



tbody tr:nth-child(even) {
  background-color: #feda70;
  color: #8d5b1a;
}


tbody tr:nth-child(odd) {
  background-color: #8d5b1a;
  color: #feda70;
}

footer{
    grid-area: footer;
    background-color:#8d5b1a;
    margin-top: 16px;
    border-radius: 4px;
    color: #feda70;
    padding: 5px;
}